@model Customer

<h2> @Model.Name </h2>
<ul>
    <li>Membership Type: <strong> @Model.MembershipType.Name </strong> </li>
    
    @if (@Model.Birthday != null)
    {
        <li>@Model.Birthday</li>

    }
    <li>
        @Html.ActionLink( "Edit","Edit","Customer",new {id = Model.Id},new{ @class = "btn btn-primary p-2 m-2" } )
    </li>
</ul>

